---
import Container from "@components/container.astro";
import Faq from "@components/faq.astro";
import Logos from "@components/logos.astro";
import Pricing from "@components/pricing.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { changeLanguage } from "i18next";

changeLanguage("it");

const pricingData = [
	{
		name: "Personal",
		price: "Free",
		popular: false,
		features: [
			"Lifetime free",
			"GPT-3.5-Turbo",
			"10 requests per minute",
			"350 daily",
			"Basic Integrations",
			"Community Support",
		],
		button: {
			text: "Get Started",
			link: "/",
		},
	},
	{
		name: "Startup",
		price: {
			monthly: "$9.99",
			annual: "$6",
			discount: "50%",
			original: "$18",
		},
		popular: true,
		features: [
			"All Free Features",
			"125 requests per minute",
			"5000 requests per minute",
			"Advanced Integrations",
			"Priority Support",
		],
		button: {
			text: "Get Started",
			link: "#",
		},
	},
	{
		name: "Professional",
		price: "$19.99",
		popular: false,
		features: [
			"All Pro Features",
			"No Ratelimit",
			"Unlimited Requests",
			"All Models",
			"99.99% Uptime SLA",
			"Dedicated Servers"
		],
		button: {
			text: "Get Started",
			link: "#",
		},
	},
];
---

<Layout title="Pricing">
	<Container>
		<Sectionhead>
			<Fragment slot="title">Pricing</Fragment>
			<Fragment slot="desc">Affordable Excellence: See Our Pricing.</Fragment>
		</Sectionhead>

		<div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-20">
			{pricingData.map((item) => <Pricing plan={item} />)}
		</div>
		<!-- <Logos /> -->
		<Faq />
	</Container>
</Layout>
